@font-face {
    font-family: dancing;
    src: url('./assets/fonts/DancingScript-Regular.ttf')
}

@font-face {
    font-family: ubuntu;
    src: url('./assets/fonts/Ubuntu-Regular.ttf')
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, poppins;
    box-sizing: border-box;
}

::selection {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}


p {
    font-weight: 200;
    color: #111;
}

.banner .content p {
    font-family: ubuntu;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/images/wp3495545-food-hd-wallpapers.jpg");
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-family: dancing;
    font-size: 5vw;
    color: #fff;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    opacity: 0.9;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.014);
}

header.sticky:hover {
    opacity: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1.5);
}

.banner .content p {
    font-size: 1.3vw;
    transition: 0.5s;
}

.btn {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: tomato;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: 0.25s;
    text-decoration: none;
}

.btn:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px 1px black;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    margin:10px;
}

span {
    font-family: sans-serif;
    color: #ff0157;
    font-size: 2em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header .logo {
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    margin-top: -22px;
}

header.sticky .logo {
    color: black;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    margin-left: 30px;
    font-size: 1.5em;
    transition: 0.5s;
    padding: 2px 8px;
    border-radius: 5px;
}

header .navigation li a:hover {
    color: #ff0157;
    box-shadow: 0 0 5px 1px #000000 inset, 0 0 5px 1px #ff0157;
}

header.sticky .navigation li a {
    color: #ff0157;
}

header.sticky .navigation li a:hover {
    color: #7e0000;
    box-shadow: 0 0 5px 1px #ff0000 inset;
}

section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

img {
    transition: ease 0.3s;
    opacity: 0.8;
    margin-top: 50px;
}

img:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1.5);
    opacity: 1;
    border-radius: 10px
}

.row .col50 {
    position: relative;
    width: 50%;
}

.row .col50 .imgbox {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}

.row .col50 .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.box {
    padding: 10px 100px;
}

.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.menu .content .box {
    width: auto;
    margin: 30px;
    box-shadow: 0 5px 20px rgba(20, 19, 19, 0.145);
    text-align: center;
    border-radius: 10px;
}

.menu .content .box:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}

.menu .content .box .text h3 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact {
    background: url('./assets/images/eaters-collective-12eHC6FxPyg-unsplash.jpg');
    background-size: cover;
    object-fit: cover;

}

.formcontact {
    padding: 80px 50px;
}

.h3 {
    color: rgb(29, 29, 29);
    margin-bottom: 30px;
    font-size: 2em;
}

.inputform {
    margin: 20px;
}

.inputform input {
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px;
    height: 45px;
    width: 380px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}

.inputform input:hover {
    box-shadow: 0 0 5px 1px black;
}

.inputform input:focus {
    box-shadow: 0 0 5px 1px #c9577d;
}

textarea:hover {
    box-shadow: 0 0 5px 1px black;
}

textarea:focus {
    box-shadow: 0 0 5px 1px #c9577d;
}

.inputform textarea {
    height: 200px;
    width: 380px;
    font-size: 1.1em;
    outline: none;
    border: none;
    padding: 10px 10px
}

.inputform input[type="submit"] {
    width: 200px;
    background-color: #ff0157;
    color: #fff;
}

.inputform input[type="submit"]:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px 1px black;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    text-align: center;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1.5);
}
.insta{
    position: relative;
    left: 10px;
    margin-right: auto;
    margin-top: -50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }

.meshachDev {
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 500;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.insta img:hover {
    box-shadow: 0 5px 20px grey;
    opacity: 1;
  background: rgb(255, 93, 120);
}
@media screen and (max-width: 991px) {

    header.sticky,
    header {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }
header .navigation li{
    margin-left:-30px;
    margin-bottom:10px;
    }
    .formcontact {
        padding: 10px 10px;
    }

    .banner .content p {
        font-size: 3.5vw;
    }

    .banner .content h2 {
        font-size: 7vw;
    }

    .menutoggle {
        position: relative;
        width: 50px;
        height: 50px;
        background: url(./assets/images/Hamburger-01.png);
        background-size: 60px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: ease-in 0.5s;
    }

    .menutoggle:hover {
        transform: rotate(180deg)
    }

    .menutoggle:active {
        transform: rotate(360deg);
        transition: 0.2s;
    }

    .menutoggle.active {
        background: url(./assets/images/Hamburger-01.png);
        background-size: 60px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: ease-in 0.5s;
        transform: rotate(180deg);
    }

    header .menutoggle {
        filter: invert(1);
    }

    header.sticky .menutoggle {
        filter: none;
    }

    section {
        padding: 100px 20px;
    }

    header .navigation.active {
        width: 100%;
        height: 5%;
        position: fixed;
        top: 80px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: nowrap;

    }

    .header .navigation li a {
        color: #ffffff;
        box-shadow: 0 0 50px 10px #ff0000 inset;
    }

    header.sticky .navigation li a {
        color: #ffffff;
        box-shadow: 0 0 50px 10px #ff0000 inset;
    }

    header.sticky .navigation li a:hover {
        color: #000000;
        box-shadow: 0 0 5px 1px #ff0000, 0 0 50px 10px #ff0000 inset;
    }

    header .navigation li {
        list-style: none;
        margin-left: 0px;
    }

    header .navigation li a {
        color: rgba(0, 0, 0, 0);
    }

    .row {
        flex-direction: column;
    }

    .row .col50 {
        width: 100%;
    }

    .row .col50 .imgbox img {
        width: 90vw;
    }

    .menu {
        padding: 120px 20px;
    }

}

@media screen and (max-width: 691px) {
    .menu .content .box .imgbox {
        max-width: 60%;
    }

    .menu .content .box .imgbox img {
        max-height: 200px;
        max-width: 280px;
    }

    .inputform textarea {
        height: 200px;
        width: 330px;
        font-size: 1em;
        outline: none;
        border: none;
        padding: 10px 10px
    }

    .contact {
        background-position-x: -150px;
    }

    .inputform input {
        height: 35px;
        width: 330px;
    }

    .row .col50 .imgbox img {
        width: 90vw;
    }

    .box {
        padding: 10px 50px;
    }

    .banner .content p {
        font-size: 4vw;
    }

    .banner .content h2 {
        font-size: 10vw;
    }
}
